<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>

<table>
    <tr>
        <th>ファイル</th>
        <th>日付</th>
        <th>時刻</th>
        <th>イベント</th>
        <th>情報</th>
    </tr>
    <% @hash_datum.each do |hash_data| %>
        <tr>
            <td> <%= hash_data[:file] %> </td>
            <td> <%= hash_data[:date] %> </td>
            <td> <%= hash_data[:time] %> </td>
            <td> <%= hash_data[:type] %> </td>
            <td> <%= hash_data[:info] %> </td>
        </tr>
    <% end %>
</table>
